In [35]:
import pandas as pd
import numpy as np

In [36]:
ds = pd.read_csv("data.csv")

In [37]:
ds

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...,...,...,...,...,...,...,...
24778,25291,3,0,2,1,1,you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779,25292,3,0,1,2,2,"you've gone and broke the wrong heart baby, an..."
24780,25294,3,0,3,0,1,young buck wanna eat!!.. dat nigguh like I ain...
24781,25295,6,0,6,0,1,youu got wild bitches tellin you lies
24782,25296,3,0,0,3,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

In [38]:
ds["labels"] = ds["class"].map({0:"Hate Speech",1:"Offensive Language",2:"No hate and offensive language"})

In [39]:
df = ds[["tweet","labels"]]

In [40]:
df

,tweet,labels
0,!!! RT @mayasolovely: As a woman you shouldn't...,No hate and offensive language
1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...,Offensive Language
2,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...,Offensive Language
3,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...,Offensive Language
4,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...,Offensive Language
...,...,...
24778,you's a muthaf***in lie &#8220;@LifeAsKing: @2...,Offensive Language
24779,"you've gone and broke the wrong heart baby, an...",No hate and offensive language
24780,young buck wanna eat!!.. dat nigguh like I ain...,Offensive Language
24781,youu got wild bitches tellin you lies,Offensive Language
24782,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...,No hate and offensive language

In [41]:
import re
import nltk
import string

In [42]:
from nltk.corpus import stopwords
stopwords = set(stopwords.words("english"))

In [43]:
stemmer = nltk.SnowballStemmer("english")

In [44]:
def clean_data(text):
 text = str (text). lower()
 text = re.sub('\[.*?\]', '', text)
 text = re.sub('https?://\S+|www.\S+','', text)
 text = re.sub('<.*?>+', '', text)
 text = re.sub('[%s]'%re.escape(string.punctuation), '',text)
 text = re.sub('\n', '', text)
 text = re.sub('\w*\d\w*', '', text)
 text = [word for word in text.split(' ') if word not in stopwords] 
 text=" ".join(text)
 text = [stemmer. stem(word) for word in text.split(' ')]
 text=" ".join(text)
 return text
df["tweet"] = df["tweet"].apply(clean_data)

C:\Users\anshp\AppData\Local\Temp\ipykernel_8272\3717078069.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["tweet"] = df["tweet"].apply(clean_data)

In [45]:
df

,tweet,labels
0,rt mayasolov woman shouldnt complain clean ho...,No hate and offensive language
1,rt boy dat coldtyga dwn bad cuffin dat hoe ...,Offensive Language
2,rt urkindofbrand dawg rt ever fuck bitch sta...,Offensive Language
3,rt cganderson vivabas look like tranni,Offensive Language
4,rt shenikarobert shit hear might true might f...,Offensive Language
...,...,...
24778,yous muthafin lie coreyemanuel right tl tras...,Offensive Language
24779,youv gone broke wrong heart babi drove redneck...,No hate and offensive language
24780,young buck wanna eat dat nigguh like aint fuck...,Offensive Language
24781,youu got wild bitch tellin lie,Offensive Language
24782,ruffl ntac eileen dahlia beauti color combin...,No hate and offensive language

In [46]:
X = np.array(df["tweet"])
y = np.array(df["labels"])

In [47]:
X

array([' rt mayasolov woman shouldnt complain clean hous amp man alway take trash',
       ' rt  boy dat coldtyga dwn bad cuffin dat hoe  place',
       ' rt urkindofbrand dawg rt  ever fuck bitch start cri confus shit',
       ..., 'young buck wanna eat dat nigguh like aint fuckin dis',
       'youu got wild bitch tellin lie',
       'ruffl  ntac eileen dahlia  beauti color combin pink orang yellow amp white coll '],
      dtype=object)

In [48]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

In [56]:
cv = CountVectorizer()
X = cv.fit_transform(X)

In [57]:
X

<24783x25671 sparse matrix of type '<class 'numpy.int64'>'
	with 197829 stored elements in Compressed Sparse Row format>